.app{
    width: 50vmin;
    background:rgb(249, 249, 249);
    margin:8rem;
    padding:1rem ;
    box-shadow: 0 0 5px 0 grey;
    text-align: center;
}
.app h2{
     margin-bottom:1rem;
    text-align: center;
}
.app ul{
    margin-bottom:1rem;
}
.app button{
    margin-bottom:1rem;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}