.counter {
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgb(193, 193, 193);
  box-shadow: 0 0 4px 0 rgb(145, 145, 145);
  padding: 0.25rem 0;
  background: #ffffff;
}
.counter-id {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0.25rem;
}
.counter-id :last-child {
  background: transparent;
  border: none;
}
.counter footer :first-child {
  margin-right: 0.25rem;
}
.count {
  font-size: 3rem;
}
.count-btn {
  width: 30px;
  font-size: 11px;
  border-radius: 4px;
}
.count-btn:hover {
  background: rgb(208, 236, 255);
}
